# Database Configuration
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/timetable_bot

# Network Configuration
PORT=25655
TRUST_PROXY=1

# Bot Configuration
PREFIX=!

# AI API Configuration (MeshAPI & Gemini Key)
GEMINI_API_KEY=AIzaSy...
MESH_API_KEY=rsk_...

# Instagram Graph API Webhook Configuration
INSTAGRAM_ACCESS_TOKEN=IGAAQ...
INSTAGRAM_VERIFY_TOKEN=instagram_reel_timetable_token_verify
INSTAGRAM_APP_SECRET=bab62b11...

# Instagram Scraper Account (Used for authenticated Reel downloads)
IG_USERNAME=your_secondary_instagram_username
IG_PASSWORD=your_secondary_instagram_password

# Admin Bypass Key (Enforces security on session imports)
IG_CHALLENGE_TOKEN=your_secure_admin_bypass_token
